
@use './MODULES/header';
@use'./MODULES/footer';
@use './MODULES/formulario';
@use './VarsAndMixins/variables' as vars;
@use './VarsAndMixins/mixins' as mixins;
body {
    margin: 0;
    font-family: vars.$font-family;
  }
  
  
  main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px;
    padding: 20px;
    min-height: 100vh; 
  }
  
  #Titular{
    background-color: rgba(vars.$text-color, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  
  }
  #Titular h1{
    @include mixins.font-style(vars.$font-family, vars.$font-sizeTitulos, vars.$color-nav-link-hover);  
    margin-bottom: 30px;
    text-align: center;
    
  }
  #Titular p{
    @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos, vars.$text-color-dark)
  }
  #ventajas {
    background: linear-gradient(to bottom, rgba(vars.$background-color, 0.501),rgba(vars.$color-nav-link-hover, 0.638));
    padding: 50px 20px;
    color: vars.$text-color;
    text-align: center;
    border-radius: 10px;
  }
  #historia {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(49, 51, 36, 0.501)), url('/images/sobreNosotros.jpg') no-repeat center center/cover;
    padding: 50px 20px;
    color: vars.$text-color;
    text-align: center;
    border-radius: 10px;
  }
  
  #ventajas h2, #historia h2 {
    @include mixins.font-style(vars.$font-family, vars.$font-sizeTitulos, vars.$text-color);
    margin-bottom: 30px;
  }
  
  .beneficios {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .ventaja {
    text-align: center;
    width: 40%;
  }
  
  .ventaja img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 15px;
  
  }
  
  .ventaja h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #historia article {
    margin-bottom: 30px;
  }
  
  #historia .historia-taller, #historia .historia-bicicleta {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #historia .historia-taller h3, #historia .historia-bicicleta h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  