$background-color: #e33b21;
$text-color: #fff;
$font-family: 'Roboto', sans-serif;
$font-sizeTitulos: 30px;
$font-sizeTitulos2: 20px;
$font-sizeTitulos3: 18px;
$font-sizeParrafos: 16px;
$font-sizeParrafos2: 14px;
$font-sizeParrafos3: 12px;
$text-color2: #d6613a;
$color-nav-link: #d6613a;
$color-nav-link-hover: #c39125;