@use '../VarsAndMixins/variables' as vars;
@use '../VarsAndMixins/mixins' as mixins;
.cartas {
  @include mixins.flex-center;
  flex-wrap: wrap;
  gap: 200px;
}

.carta {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  @include mixins.flex-center;
  cursor: pointer;
}

.carta::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  z-index: 3;
  opacity: 0;
  @include mixins.transition(opacity, 0.4s, ease-in-out);
}

.info-carta {
  position: absolute;
  padding: 15px;
  padding-bottom: 20px;
  color: vars.$text-color;
  bottom: 0;
  transform: translateY(65%);
 @include mixins.transition(opacity, 0.4s, ease-in-out);
  z-index: 3;
}

.carta-titulo {
  @include mixins.font-style(vars.$font-family, vars.$font-sizeTitulos2, vars.$text-color);
}

.carta-descripcion {
  padding: 10px;
  @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos2, vars.$text-color);
  text-align: justify;
}

.boton-carta {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid vars.$text-color;
  color:vars.$text-color;
  cursor: pointer;
  @include mixins.transition(opacity, 0.4s, ease-in-out);
  text-decoration: none;
  @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos2, vars.$text-color);
}

.boton-carta:hover {
  background-color: vars.$text-color;
  color: vars.$background-color;
}
