@use '../VarsAndMixins/variables' as vars;
@use '../VarsAndMixins/mixins' as mixins;
footer {
  background-color: vars.$background-color;
  @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos, vars.$text-color-dark);
  text-align: center;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

footer img {
  padding-top: 10px;
  width: 50px;
  max-height: 50px;
}

footer img:hover {
  transform: scale(1.1);
  @include mixins.transition(opacity, 0.4s, ease-in-out);
}

footer p {
  @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos3, vars.$text-color-dark);
  margin: 0 10px;
  grid-column: span 3;
}