@use '../VarsAndMixins/variables' as vars;
@use '../VarsAndMixins/mixins' as mixins;
.InicioSesionFormulario {
  
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px; 
    text-align: center;
    border: solid vars.$text-color 2px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  h3 {
    margin-bottom: 20px;
    @include mixins.font-style(vars.$font-family, vars.$font-sizeTitulos2, vars.$text-color);
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid vars.$text-color-dark;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: vars.$text-color-dark;
    @include mixins.font-style(vars.$font-family, vars.$font-sizeParrafos2, vars.$text-color);
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: darken(vars.$text-color-dark, 10%);
  }
  
  a {
    display: block;
    margin-top: 10px;
    color: vars.$hover-color;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }