

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo claro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/inicioSESION.jpg");
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#idioma{
    padding: 5px 10px;
  background-color: #f0f0f0; /* Puedes cambiar el color de fondo */
  border: 2px solid #ccc; /* Borde del bot칩n */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el bot칩n */
  display: inline-flex; /* Alinea los elementos dentro del bot칩n */
  align-items: center; /* Centra las im치genes verticalmente */
  justify-content: space-between; /* Espacio entre las banderas */
}
#idioma img{
  width: 30px; 
  height: auto;
  margin: 0 5px; 
  border-radius: 5px
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

#idioma {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.container {
    margin-top: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.InicioSesionFormulario {
    
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px; 
    text-align: center;
    border: solid white 2px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

h3 {
    margin-bottom: 20px;
    color:white;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333; 
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555; 
}

a {
    display: block;
    margin-top: 10px;
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
